/* _________________________
BASIC SET-UP
__________________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

html,
body {
    background-color: #fff;
    color: #000;
    font-family: 'Times New Roman', sans-serif;
    font-size: 20px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 
}

/* _______________________
TIC-TAC-TOE BOX
________________________*/

td {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    text-align: center;
}